<%- include('./partials/head') %> 

<h1>Bewaarde huizen</h1>

<container class="houses">
    <% houses.forEach(function(house) { %>
        <article>
        <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>">
           <h2><%= house.street %></h2>
            <p>€<%= house.price %></p>
            <p><%= house.house_nr %></p>
            <p><%= house.nr_addition %></p>
            <p><%= house.postal_code %></p>
        </article>
    <% }) %>       
</container>

   
</body>
</html>